/* height | hei */
.hei-1{
    height: 1rem;
}
.hei-2{
    height: 2rem;
}
.hei-3{
    height: 3rem;
}
.hei-4{
    height: 4rem;
}
.hei-5{
    height: 5rem;
}
.hei-6{
    height: 6rem;
}
.hei-7{
    height: 7rem;
}
.hei-8{
    height: 8rem;
}
.hei-9{
    height: 9rem;
}
.hei-10{
    height: 10rem;
}
.hei-11{
    height: 11rem;
}
.hei-12{
    height: 12rem;
}
.hei-13{
    height: 13rem;
}
.hei-14{
    height: 14rem;
}
.hei-15{
    height: 15rem;
}
.hei-16{
    height: 16rem;
}
.hei-17{
    height: 17rem;
}
.hei-18{
    height: 18rem;
}
.hei-19{
    height: 19rem;
}
.hei-20{
    height: 20rem;
}
.hei-21{
    height: 21rem;
}
.hei-22{
    height: 22rem;
}
.hei-23{
    height: 23rem;
}
.hei-24{
    height: 24rem;
}
.hei-25{
    height: 25rem;
}
.hei-26{
    height: 26rem;
}
.hei-27{
    height: 27rem;
}
.hei-28{
    height: 28rem;
}
.hei-29{
    height: 29rem;
}
.hei-30{
    height: 30rem;
}
.hei-31{
    height: 31rem;
}
.hei-32{
    height: 32rem;
}
.hei-33{
    height: 33rem;
}
.hei-34{
    height: 34rem;
}
.hei-35{
    height: 35rem;
}
.hei-36{
    height: 36rem;
}
.hei-37{
    height: 37rem;
}
.hei-38{
    height: 38rem;
}
.hei-39{
    height: 39rem;
}
.hei-40{
    height: 40rem;
}
.hei-41{
    height: 41rem;
}
.hei-42{
    height: 42rem;
}
.hei-43{
    height: 43rem;
}
.hei-44{
    height: 44rem;
}
.hei-45{
    height: 45rem;
}
.hei-46{
    height: 46rem;
}
.hei-47{
    height: 47rem;
}
.hei-48{
    height: 48rem;
}
.hei-49{
    height: 49rem;
}
.hei-50{
    height: 50rem;
}
.hei-51{
    height: 51rem;
}
.hei-52{
    height: 52rem;
}
.hei-53{
    height: 53rem;
}
.hei-54{
    height: 54rem;
}
.hei-55{
    height: 55rem;
}
.hei-56{
    height: 56rem;
}
.hei-57{
    height: 57rem;
}
.hei-58{
    height: 58rem;
}
.hei-59{
    height: 59rem;
}
.hei-60{
    height: 60rem;
}
.hei-61{
    height: 61rem;
}
.hei-62{
    height: 62rem;
}
.hei-63{
    height: 63rem;
}
.hei-64{
    height: 64rem;
}
.hei-65{
    height: 65rem;
}
.hei-66{
    height: 66rem;
}
.hei-67{
    height: 67rem;
}
.hei-68{
    height: 68rem;
}
.hei-69{
    height: 69rem;
}
.hei-70{
    height: 70rem;
}
.hei-71{
    height: 71rem;
}
.hei-72{
    height: 72rem;
}
.hei-73{
    height: 73rem;
}
.hei-74{
    height: 74rem;
}
.hei-75{
    height: 75rem;
}
.hei-76{
    height: 76rem;
}
.hei-77{
    height: 77rem;
}
.hei-78{
    height: 78rem;
}
.hei-79{
    height: 79rem;
}
.hei-80{
    height: 80rem;
}
.hei-a{
    height: auto;
}

/* maximum height | maxhei */
.maxhei-10{
    max-height: 10rem;
}
.maxhei-20{
    max-height: 20rem;
}
.maxhei-30{
    max-height: 30rem;
}
.maxhei-40{
    max-height: 40rem;
}
.maxhei-50{
    max-height: 50rem;
}
.maxhei-60{
    max-height: 60rem;
}
.maxhei-70{
    max-height: 70rem;
}
.maxhei-80{
    max-height: 80rem;
}
.maxhei-136-6{
    max-height: 136.6rem;
}
.maxhei-160{
    max-height: 160rem;
}

/* maximum viewport | maxvie */
.maxvie-h-10{
    max-height: 10vh;
}
.maxvie-h-20{
    max-height: 20vh;
}
.maxvie-h-30{
    max-height: 30vh;
}
.maxvie-h-40{
    max-height: 40vh;
}
.maxvie-h-50{
    max-height: 50vh;
}
.maxvie-h-60{
    max-height: 60vh;
}
.maxvie-h-70{
    max-height: 70vh;
}
.maxvie-h-80{
    max-height: 80vh;
}
.maxvie-h-90{
    max-height: 90vh;
}
.maxvie-h-100{
    max-height: 100vh;
}
.maxvie-w-10{
    max-width: 10vw;
}
.maxvie-w-20{
    max-width: 20vw;
}
.maxvie-w-30{
    max-width: 30vw;
}
.maxvie-w-40{
    max-width: 40vw;
}
.maxvie-w-50{
    max-width: 50vw;
}
.maxvie-w-60{
    max-width: 60vw;
}
.maxvie-w-70{
    max-width: 70vw;
}
.maxvie-w-80{
    max-width: 80vw;
}
.maxvie-w-90{
    max-width: 90vw;
}
.maxvie-w-100{
    max-width: 100vw;
}

/* maximum width | maxwid */
.maxwid-10{
    max-width: 10rem;
}
.maxwid-20{
    max-width: 20rem;
}
.maxwid-30{
    max-width: 30rem;
}
.maxwid-40{
    max-width: 40rem;
}
.maxwid-50{
    max-width: 50rem;
}
.maxwid-60{
    max-width: 60rem;
}
.maxwid-70{
    max-width: 70rem;
}
.maxwid-80{
    max-width: 80rem;
}
.maxwid-136-6{
    max-width: 136.6rem;
}
.maxwid-160{
    max-width: 160rem;
}

/* minimum height | minhei */
.minhei-10{
    min-height: 10rem;
}
.minhei-20{
    min-height: 20rem;
}
.minhei-30{
    min-height: 30rem;
}
.minhei-40{
    min-height: 40rem;
}
.minhei-50{
    min-height: 50rem;
}
.minhei-60{
    min-height: 60rem;
}
.minhei-70{
    min-height: 70rem;
}
.minhei-80{
    min-height: 80rem;
}
.minhei-136-6{
    min-height: 136.6rem;
}
.minhei-160{
    min-height: 160rem;
}

/* minimum viewport | minvie */
.minvie-h-10{
    min-height: 10vh;
}
.minvie-h-20{
    min-height: 20vh;
}
.minvie-h-30{
    min-height: 30vh;
}
.minvie-h-40{
    min-height: 40vh;
}
.minvie-h-50{
    min-height: 50vh;
}
.minvie-h-60{
    min-height: 60vh;
}
.minvie-h-70{
    min-height: 70vh;
}
.minvie-h-80{
    min-height: 80vh;
}
.minvie-h-90{
    min-height: 90vh;
}
.minvie-h-100{
    min-height: 100vh;
}
.minvie-w-10{
    min-width: 10vw;
}
.minvie-w-20{
    min-width: 20vw;
}
.minvie-w-30{
    min-width: 30vw;
}
.minvie-w-40{
    min-width: 40vw;
}
.minvie-w-50{
    min-width: 50vw;
}
.minvie-w-60{
    min-width: 60vw;
}
.minvie-w-70{
    min-width: 70vw;
}
.minvie-w-80{
    min-width: 80vw;
}
.minvie-w-90{
    min-width: 90vw;
}
.minvie-w-100{
    min-width: 100vw;
}

/* minimum width | minwid */
.minwid-10{
    min-width: 10rem;
}
.minwid-20{
    min-width: 20rem;
}
.minwid-30{
    min-width: 30rem;
}
.minwid-40{
    min-width: 40rem;
}
.minwid-50{
    min-width: 50rem;
}
.minwid-60{
    min-width: 60rem;
}
.minwid-70{
    min-width: 70rem;
}
.minwid-80{
    min-width: 80rem;
}
.minwid-136-6{
    min-width: 136.6rem;
}
.minwid-160{
    min-width: 160rem;
}

/* percentage height | perheight */
.perhei-10{
    height: 10%;
}
.perhei-20{
    height: 20%;
}
.perhei-25{
    height: 25%;
}
.perhei-30{
    height: 30%;
}
.perhei-40{
    height: 40%;
}
.perhei-50{
    height: 50%;
}
.perhei-60{
    height: 60%;
}
.perhei-70{
    height: 70%;
}
.perhei-75{
    height: 75%;
}
.perhei-100{
    height: 100%;
}

/* percentage width | perwidth */
.perwid-10{
    width: 10%;
}
.perwid-20{
    width: 20%;
}
.perwid-25{
    width: 25%;
}
.perwid-30{
    width: 30%;
}
.perwid-40{
    width: 40%;
}
.perwid-50{
    width: 50%;
}
.perwid-60{
    width: 60%;
}
.perwid-70{
    width: 70%;
}
.perwid-75{
    width: 75%;
}
.perwid-100{
    width: 100%;
}

/* text | tex */
.tex-1{
    font-size: 1rem;
}
.tex-1-1{
    font-size: 1.1rem;
}
.tex-1-2{
    font-size: 1.2rem;
}
.tex-1-3{
    font-size: 1.3rem;
}
.tex-1-4{
    font-size: 1.4rem;
}
.tex-1-5{
    font-size: 1.5rem;
}
.tex-1-6{
    font-size: 1.6rem;
}
.tex-1-7{
    font-size: 1.7rem;
}
.tex-1-8{
    font-size: 1.8rem;
}
.tex-1-9{
    font-size: 1.9rem;
}
.tex-2{
    font-size: 2rem;
}
.tex-2-1{
    font-size: 2.1rem;
}
.tex-2-2{
    font-size: 2.2rem;
}
.tex-2-3{
    font-size: 2.3rem;
}
.tex-2-4{
    font-size: 2.4rem;
}
.tex-2-5{
    font-size: 2.5rem;
}
.tex-2-6{
    font-size: 2.6rem;
}
.tex-2-7{
    font-size: 2.7rem;
}
.tex-2-8{
    font-size: 2.8rem;
}
.tex-2-9{
    font-size: 2.9rem;
}
.tex-3{
    font-size: 3rem;
}
.tex-3-1{
    font-size: 3.1rem;
}
.tex-3-2{
    font-size: 3.2rem;
}
.tex-3-3{
    font-size: 3.3rem;
}
.tex-3-4{
    font-size: 3.4rem;
}
.tex-3-5{
    font-size: 3.5rem;
}
.tex-3-6{
    font-size: 3.6rem;
}
.tex-3-7{
    font-size: 3.7rem;
}
.tex-3-8{
    font-size: 3.8rem;
}
.tex-3-9{
    font-size: 3.9rem;
}
.tex-4{
    font-size: 4rem;
}

/* viewport | vie */
.vie-h-10{
    height: 10vh;
}
.vie-h-20{
    height: 20vh;
}
.vie-h-30{
    height: 30vh;
}
.vie-h-40{
    height: 40vh;
}
.vie-h-50{
    height: 50vh;
}
.vie-h-60{
    height: 60vh;
}
.vie-h-70{
    height: 70vh;
}
.vie-h-80{
    height: 80vh;
}
.vie-h-90{
    height: 90vh;
}
.vie-h-100{
    height: 100vh;
}
.vie-w-10{
    width: 10vw;
}
.vie-w-20{
    width: 20vw;
}
.vie-w-30{
    width: 30vw;
}
.vie-w-40{
    width: 40vw;
}
.vie-w-50{
    width: 50vw;
}
.vie-w-60{
    width: 60vw;
}
.vie-w-70{
    width: 70vw;
}
.vie-w-80{
    width: 80vw;
}
.vie-w-90{
    width: 90vw;
}
.vie-w-100{
    width: 100vw;
}

/* width | wid */
.wid-1{
    width: 1rem;
}
.wid-2{
    width: 2rem;
}
.wid-3{
    width: 3rem;
}
.wid-4{
    width: 4rem;
}
.wid-5{
    width: 5rem;
}
.wid-6{
    width: 6rem;
}
.wid-7{
    width: 7rem;
}
.wid-8{
    width: 8rem;
}
.wid-9{
    width: 9rem;
}
.wid-10{
    width: 10rem;
}
.wid-11{
    width: 11rem;
}
.wid-12{
    width: 12rem;
}
.wid-13{
    width: 13rem;
}
.wid-14{
    width: 14rem;
}
.wid-15{
    width: 15rem;
}
.wid-16{
    width: 16rem;
}
.wid-17{
    width: 17rem;
}
.wid-18{
    width: 18rem;
}
.wid-19{
    width: 19rem;
}
.wid-20{
    width: 20rem;
}
.wid-21{
    width: 21rem;
}
.wid-22{
    width: 22rem;
}
.wid-23{
    width: 23rem;
}
.wid-24{
    width: 24rem;
}
.wid-25{
    width: 25rem;
}
.wid-26{
    width: 26rem;
}
.wid-27{
    width: 27rem;
}
.wid-28{
    width: 28rem;
}
.wid-29{
    width: 29rem;
}
.wid-30{
    width: 30rem;
}
.wid-31{
    width: 31rem;
}
.wid-32{
    width: 32rem;
}
.wid-33{
    width: 33rem;
}
.wid-34{
    width: 34rem;
}
.wid-35{
    width: 35rem;
}
.wid-36{
    width: 36rem;
}
.wid-37{
    width: 37rem;
}
.wid-38{
    width: 38rem;
}
.wid-39{
    width: 39rem;
}
.wid-40{
    width: 40rem;
}
.wid-41{
    width: 41rem;
}
.wid-42{
    width: 42rem;
}
.wid-43{
    width: 43rem;
}
.wid-44{
    width: 44rem;
}
.wid-45{
    width: 45rem;
}
.wid-46{
    width: 46rem;
}
.wid-47{
    width: 47rem;
}
.wid-48{
    width: 48rem;
}
.wid-49{
    width: 49rem;
}
.wid-50{
    width: 50rem;
}
.wid-51{
    width: 51rem;
}
.wid-52{
    width: 52rem;
}
.wid-53{
    width: 53rem;
}
.wid-54{
    width: 54rem;
}
.wid-55{
    width: 55rem;
}
.wid-56{
    width: 56rem;
}
.wid-57{
    width: 57rem;
}
.wid-58{
    width: 58rem;
}
.wid-59{
    width: 59rem;
}
.wid-60{
    width: 60rem;
}
.wid-61{
    width: 61rem;
}
.wid-62{
    width: 62rem;
}
.wid-63{
    width: 63rem;
}
.wid-64{
    width: 64rem;
}
.wid-65{
    width: 65rem;
}
.wid-66{
    width: 66rem;
}
.wid-67{
    width: 67rem;
}
.wid-68{
    width: 68rem;
}
.wid-69{
    width: 69rem;
}
.wid-70{
    width: 70rem;
}
.wid-71{
    width: 71rem;
}
.wid-72{
    width: 72rem;
}
.wid-73{
    width: 73rem;
}
.wid-74{
    width: 74rem;
}
.wid-75{
    width: 75rem;
}
.wid-76{
    width: 76rem;
}
.wid-77{
    width: 77rem;
}
.wid-78{
    width: 78rem;
}
.wid-79{
    width: 79rem;
}
.wid-80{
    width: 80rem;
}
.wid-a{
    width: auto;
}