 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1.5rem 'sora';
    font-weight: normal;
    border: none;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    outline: none;
    list-style: none;
}

:root{
    font-size: 10px;
}

@font-face{
    font-family: 'sora';
    src: url('../ttf/sora.ttf');
}