 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1.5rem 'sora';
    font-weight: normal;
    border: none;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    outline: none;
    list-style: none;
}

:root{
    --blue: hsl(240 100 50);
    --blue-2: hsl(240 100 55);
    --blue-3: hsl(240 100 60);
    --blue-4: hsl(240 100 65);
    --blue-5: hsl(240 100 70);
    --blue-6: hsl(240 100 75);
    --blue-7: hsl(240 100 80);
    --blue-8: hsl(240 100 85);
    --blue-9: hsl(240 100 90);
    --blue-10: hsl(240 100 95);
    --cyan: hsl(180 100 50);
    --cyan-2: hsl(180 100 55);
    --cyan-3: hsl(180 100 60);
    --cyan-4: hsl(180 100 65);
    --cyan-5: hsl(180 100 70);
    --cyan-6: hsl(180 100 75);
    --cyan-7: hsl(180 100 80);
    --cyan-8: hsl(180 100 85);
    --cyan-9: hsl(180 100 90);
    --cyan-10: hsl(180 100 95);
    --fuchsia: hsl(300 100 50);
    --fuchsia-2: hsl(300 100 55);
    --fuchsia-3: hsl(300 100 60);
    --fuchsia-4: hsl(300 100 65);
    --fuchsia-5: hsl(300 100 70);
    --fuchsia-6: hsl(300 100 75);
    --fuchsia-7: hsl(300 100 80);
    --fuchsia-8: hsl(300 100 85);
    --fuchsia-9: hsl(300 100 90);
    --fuchsia-10: hsl(300 100 95);
    --gray: hsl(0 0 5);
    --gray-2: hsl(0 0 10);
    --gray-3: hsl(0 0 15);
    --gray-4: hsl(0 0 20);
    --gray-5: hsl(0 0 25);
    --gray-6: hsl(0 0 30);
    --gray-7: hsl(0 0 35);
    --gray-8: hsl(0 0 40);
    --gray-9: hsl(0 0 45);
    --gray-10: hsl(0 0 50);
    --gray-11: hsl(0 0 55);
    --gray-12: hsl(0 0 60);
    --gray-13: hsl(0 0 65);
    --gray-14: hsl(0 0 70);
    --gray-15: hsl(0 0 75);
    --gray-16: hsl(0 0 80);
    --gray-17: hsl(0 0 85);
    --gray-18: hsl(0 0 90);
    --gray-19: hsl(0 0 95);
    --green: hsl(120 100 50);
    --green-2: hsl(120 100 55);
    --green-3: hsl(120 100 60);
    --green-4: hsl(120 100 65);
    --green-5: hsl(120 100 70);
    --green-6: hsl(120 100 75);
    --green-7: hsl(120 100 80);
    --green-8: hsl(120 100 85);
    --green-9: hsl(120 100 90);
    --green-10: hsl(120 100 95);
    --lime: hsl(90 100 50);
    --lime-2: hsl(90 100 55);
    --lime-3: hsl(90 100 60);
    --lime-4: hsl(90 100 65);
    --lime-5: hsl(90 100 70);
    --lime-6: hsl(90 100 75);
    --lime-7: hsl(90 100 80);
    --lime-8: hsl(90 100 85);
    --lime-9: hsl(90 100 90);
    --lime-10: hsl(90 100 95);
    --magenta: hsl(330 100 50);
    --magenta-2: hsl(330 100 55);
    --magenta-3: hsl(330 100 60);
    --magenta-4: hsl(330 100 65);
    --magenta-5: hsl(330 100 70);
    --magenta-6: hsl(330 100 75);
    --magenta-7: hsl(330 100 80);
    --magenta-8: hsl(330 100 85);
    --magenta-9: hsl(330 100 90);
    --magenta-10: hsl(330 100 95);
    --orange: hsl(30 100 50);
    --orange-2: hsl(30 100 55);
    --orange-3: hsl(30 100 60);
    --orange-4: hsl(30 100 65);
    --orange-5: hsl(30 100 70);
    --orange-6: hsl(30 100 75);
    --orange-7: hsl(30 100 80);
    --orange-8: hsl(30 100 85);
    --orange-9: hsl(30 100 90);
    --orange-10: hsl(30 100 95);
    --purple: hsl(270 100 50);
    --purple-2: hsl(270 100 55);
    --purple-3: hsl(270 100 60);
    --purple-4: hsl(270 100 65);
    --purple-5: hsl(270 100 70);
    --purple-6: hsl(270 100 75);
    --purple-7: hsl(270 100 80);
    --purple-8: hsl(270 100 85);
    --purple-9: hsl(270 100 90);
    --purple-10: hsl(270 100 95);
    --red: hsl(0 100 50);
    --red-2: hsl(0 100 55);
    --red-3: hsl(0 100 60);
    --red-4: hsl(0 100 65);
    --red-5: hsl(0 100 70);
    --red-6: hsl(0 100 75);
    --red-7: hsl(0 100 80);
    --red-8: hsl(0 100 85);
    --red-9: hsl(0 100 90);
    --red-10: hsl(0 100 95);
    --sky: hsl(210 100 50);
    --sky-2: hsl(210 100 55);
    --sky-3: hsl(210 100 60);
    --sky-4: hsl(210 100 65);
    --sky-5: hsl(210 100 70);
    --sky-6: hsl(210 100 75);
    --sky-7: hsl(210 100 80);
    --sky-8: hsl(210 100 85);
    --sky-9: hsl(210 100 90);
    --sky-10: hsl(210 100 95);
    --springgreen: hsl(150 100 50);
    --springgreen-2: hsl(150 100 55);
    --springgreen-3: hsl(150 100 60);
    --springgreen-4: hsl(150 100 65);
    --springgreen-5: hsl(150 100 70);
    --springgreen-6: hsl(150 100 75);
    --springgreen-7: hsl(150 100 80);
    --springgreen-8: hsl(150 100 85);
    --springgreen-9: hsl(150 100 90);
    --springgreen-10: hsl(150 100 95);
    --white: hsl(0 0 100);
    --yellow: hsl(60 100 50);
    --yellow-2: hsl(60 100 55);
    --yellow-3: hsl(60 100 60);
    --yellow-4: hsl(60 100 65);
    --yellow-5: hsl(60 100 70);
    --yellow-6: hsl(60 100 75);
    --yellow-7: hsl(60 100 80);
    --yellow-8: hsl(60 100 85);
    --yellow-9: hsl(60 100 90);
    --yellow-10: hsl(60 100 95);

    font-size: 10px;
}

@font-face{
    font-family: 'sora';
    src: url('../ttf/sora.ttf');
}