 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1.5rem 'sora';
    font-weight: normal;
    border: none;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    outline: none;
    list-style: none;
}

:root{
    --black: hsl(0 0 0);
    --blue: hsl(240 100 50);
    --blue-2: hsl(240 100 55);
    --blue-3: hsl(240 100 60);
    --blue-4: hsl(240 100 65);
    --blue-5: hsl(240 100 70);
    --blue-6: hsl(240 100 75);
    --blue-7: hsl(240 100 80);
    --blue-8: hsl(240 100 85);
    --blue-9: hsl(240 100 90);
    --blue-10: hsl(240 100 95);
    --cyan: hsl(180 100 50);
    --cyan-2: hsl(180 100 55);
    --cyan-3: hsl(180 100 60);
    --cyan-4: hsl(180 100 65);
    --cyan-5: hsl(180 100 70);
    --cyan-6: hsl(180 100 75);
    --cyan-7: hsl(180 100 80);
    --cyan-8: hsl(180 100 85);
    --cyan-9: hsl(180 100 90);
    --cyan-10: hsl(180 100 95);
    --fuchsia: hsl(300 100 50);
    --fuchsia-2: hsl(300 100 55);
    --fuchsia-3: hsl(300 100 60);
    --fuchsia-4: hsl(300 100 65);
    --fuchsia-5: hsl(300 100 70);
    --fuchsia-6: hsl(300 100 75);
    --fuchsia-7: hsl(300 100 80);
    --fuchsia-8: hsl(300 100 85);
    --fuchsia-9: hsl(300 100 90);
    --fuchsia-10: hsl(300 100 95);
    --gray: hsl(0 0 5);
    --gray-2: hsl(0 0 10);
    --gray-3: hsl(0 0 15);
    --gray-4: hsl(0 0 20);
    --gray-5: hsl(0 0 25);
    --gray-6: hsl(0 0 30);
    --gray-7: hsl(0 0 35);
    --gray-8: hsl(0 0 40);
    --gray-9: hsl(0 0 45);
    --gray-10: hsl(0 0 50);
    --gray-11: hsl(0 0 55);
    --gray-12: hsl(0 0 60);
    --gray-13: hsl(0 0 65);
    --gray-14: hsl(0 0 70);
    --gray-15: hsl(0 0 75);
    --gray-16: hsl(0 0 80);
    --gray-17: hsl(0 0 85);
    --gray-18: hsl(0 0 90);
    --gray-19: hsl(0 0 95);
    --green: hsl(120 100 50);
    --green-2: hsl(120 100 55);
    --green-3: hsl(120 100 60);
    --green-4: hsl(120 100 65);
    --green-5: hsl(120 100 70);
    --green-6: hsl(120 100 75);
    --green-7: hsl(120 100 80);
    --green-8: hsl(120 100 85);
    --green-9: hsl(120 100 90);
    --green-10: hsl(120 100 95);
    --lime: hsl(90 100 50);
    --lime-2: hsl(90 100 55);
    --lime-3: hsl(90 100 60);
    --lime-4: hsl(90 100 65);
    --lime-5: hsl(90 100 70);
    --lime-6: hsl(90 100 75);
    --lime-7: hsl(90 100 80);
    --lime-8: hsl(90 100 85);
    --lime-9: hsl(90 100 90);
    --lime-10: hsl(90 100 95);
    --magenta: hsl(330 100 50);
    --magenta-2: hsl(330 100 55);
    --magenta-3: hsl(330 100 60);
    --magenta-4: hsl(330 100 65);
    --magenta-5: hsl(330 100 70);
    --magenta-6: hsl(330 100 75);
    --magenta-7: hsl(330 100 80);
    --magenta-8: hsl(330 100 85);
    --magenta-9: hsl(330 100 90);
    --magenta-10: hsl(330 100 95);
    --neu-1: 1rem 1rem 2rem;
    --neu-2: -1rem -1rem 2rem;
    --neu-black: var(--neu-1) hsl(0 0 0), var(--neu-2) hsl(0 0 5);
    --neu-blue: var(--neu-1) hsl(240 95 45), var(--neu-2) hsl(240 100 55);
    --neu-blue-2: var(--neu-1) hsl(240 95 50), var(--neu-2) hsl(240 100 60);
    --neu-blue-3: var(--neu-1) hsl(240 95 55), var(--neu-2) hsl(240 100 65);
    --neu-blue-4: var(--neu-1) hsl(240 95 60), var(--neu-2) hsl(240 100 70);
    --neu-blue-5: var(--neu-1) hsl(240 95 65), var(--neu-2) hsl(240 100 75);
    --neu-blue-6: var(--neu-1) hsl(240 95 70), var(--neu-2) hsl(240 100 80);
    --neu-blue-7: var(--neu-1) hsl(240 95 75), var(--neu-2) hsl(240 100 85);
    --neu-blue-8: var(--neu-1) hsl(240 95 80), var(--neu-2) hsl(240 100 90);
    --neu-blue-9: var(--neu-1) hsl(240 95 85), var(--neu-2) hsl(240 100 95);
    --neu-blue-10: var(--neu-1) hsl(240 95 90), var(--neu-2) hsl(240 100 100);
    --neu-cyan: var(--neu-1) hsl(180 95 45), var(--neu-2) hsl(180 100 55);
    --neu-cyan-2: var(--neu-1) hsl(180 95 50), var(--neu-2) hsl(180 100 60);
    --neu-cyan-3: var(--neu-1) hsl(180 95 55), var(--neu-2) hsl(180 100 65);
    --neu-cyan-4: var(--neu-1) hsl(180 95 60), var(--neu-2) hsl(180 100 70);
    --neu-cyan-5: var(--neu-1) hsl(180 95 65), var(--neu-2) hsl(180 100 75);
    --neu-cyan-6: var(--neu-1) hsl(180 95 70), var(--neu-2) hsl(180 100 80);
    --neu-cyan-7: var(--neu-1) hsl(180 95 75), var(--neu-2) hsl(180 100 85);
    --neu-cyan-8: var(--neu-1) hsl(180 95 80), var(--neu-2) hsl(180 100 90);
    --neu-cyan-9: var(--neu-1) hsl(180 95 85), var(--neu-2) hsl(180 100 95);
    --neu-cyan-10: var(--neu-1) hsl(180 95 90), var(--neu-2) hsl(180 100 100);
    --neu-fuchsia: var(--neu-1) hsl(300 95 45), var(--neu-2) hsl(300 100 55);
    --neu-fuchsia-2: var(--neu-1) hsl(300 95 50), var(--neu-2) hsl(300 100 60);
    --neu-fuchsia-3: var(--neu-1) hsl(300 95 55), var(--neu-2) hsl(300 100 65);
    --neu-fuchsia-4: var(--neu-1) hsl(300 95 60), var(--neu-2) hsl(300 100 70);
    --neu-fuchsia-5: var(--neu-1) hsl(300 95 65), var(--neu-2) hsl(300 100 75);
    --neu-fuchsia-6: var(--neu-1) hsl(300 95 70), var(--neu-2) hsl(300 100 80);
    --neu-fuchsia-7: var(--neu-1) hsl(300 95 75), var(--neu-2) hsl(300 100 85);
    --neu-fuchsia-8: var(--neu-1) hsl(300 95 80), var(--neu-2) hsl(300 100 90);
    --neu-fuchsia-9: var(--neu-1) hsl(300 95 85), var(--neu-2) hsl(300 100 95);
    --neu-fuchsia-10: var(--neu-1) hsl(300 95 90), var(--neu-2) hsl(300 100 100);
    --neu-gray: var(--neu-1) hsl(0 0 0), var(--neu-2) hsl(0 0 10);
    --neu-gray-2: var(--neu-1) hsl(0 0 5), var(--neu-2) hsl(0 0 15);
    --neu-gray-3: var(--neu-1) hsl(0 0 10), var(--neu-2) hsl(0 0 20);
    --neu-gray-4: var(--neu-1) hsl(0 0 15), var(--neu-2) hsl(0 0 25);
    --neu-gray-5: var(--neu-1) hsl(0 0 20), var(--neu-2) hsl(0 0 30);
    --neu-gray-6: var(--neu-1) hsl(0 0 25), var(--neu-2) hsl(0 0 35);
    --neu-gray-7: var(--neu-1) hsl(0 0 30), var(--neu-2) hsl(0 0 40);
    --neu-gray-8: var(--neu-1) hsl(0 0 35), var(--neu-2) hsl(0 0 45);
    --neu-gray-9: var(--neu-1) hsl(0 0 40), var(--neu-2) hsl(0 0 50);
    --neu-gray-10: var(--neu-1) hsl(0 0 45), var(--neu-2) hsl(0 0 55);
    --neu-gray-11: var(--neu-1) hsl(0 0 50), var(--neu-2) hsl(0 0 60);
    --neu-gray-12: var(--neu-1) hsl(0 0 55), var(--neu-2) hsl(0 0 65);
    --neu-gray-13: var(--neu-1) hsl(0 0 60), var(--neu-2) hsl(0 0 70);
    --neu-gray-14: var(--neu-1) hsl(0 0 65), var(--neu-2) hsl(0 0 75);
    --neu-gray-15: var(--neu-1) hsl(0 0 70), var(--neu-2) hsl(0 0 80);
    --neu-gray-16: var(--neu-1) hsl(0 0 75), var(--neu-2) hsl(0 0 85);
    --neu-gray-17: var(--neu-1) hsl(0 0 80), var(--neu-2) hsl(0 0 90);
    --neu-gray-18: var(--neu-1) hsl(0 0 85), var(--neu-2) hsl(0 0 95);
    --neu-gray-19: var(--neu-1) hsl(0 0 90), var(--neu-2) hsl(0 0 100);
    --neu-green: var(--neu-1) hsl(120 95 45), var(--neu-2) hsl(120 100 55);
    --neu-green-2: var(--neu-1) hsl(120 95 50), var(--neu-2) hsl(120 100 60);
    --neu-green-3: var(--neu-1) hsl(120 95 55), var(--neu-2) hsl(120 100 65);
    --neu-green-4: var(--neu-1) hsl(120 95 60), var(--neu-2) hsl(120 100 70);
    --neu-green-5: var(--neu-1) hsl(120 95 65), var(--neu-2) hsl(120 100 75);
    --neu-green-6: var(--neu-1) hsl(120 95 70), var(--neu-2) hsl(120 100 80);
    --neu-green-7: var(--neu-1) hsl(120 95 75), var(--neu-2) hsl(120 100 85);
    --neu-green-8: var(--neu-1) hsl(120 95 80), var(--neu-2) hsl(120 100 90);
    --neu-green-9: var(--neu-1) hsl(120 95 85), var(--neu-2) hsl(120 100 95);
    --neu-green-10: var(--neu-1) hsl(120 95 90), var(--neu-2) hsl(120 100 100);
    --neu-lime: var(--neu-1) hsl(90 95 45), var(--neu-2) hsl(90 100 55);
    --neu-lime-2: var(--neu-1) hsl(90 95 50), var(--neu-2) hsl(90 100 60);
    --neu-lime-3: var(--neu-1) hsl(90 95 55), var(--neu-2) hsl(90 100 65);
    --neu-lime-4: var(--neu-1) hsl(90 95 60), var(--neu-2) hsl(90 100 70);
    --neu-lime-5: var(--neu-1) hsl(90 95 65), var(--neu-2) hsl(90 100 75);
    --neu-lime-6: var(--neu-1) hsl(90 95 70), var(--neu-2) hsl(90 100 80);
    --neu-lime-7: var(--neu-1) hsl(90 95 75), var(--neu-2) hsl(90 100 85);
    --neu-lime-8: var(--neu-1) hsl(90 95 80), var(--neu-2) hsl(90 100 90);
    --neu-lime-9: var(--neu-1) hsl(90 95 85), var(--neu-2) hsl(90 100 95);
    --neu-lime-10: var(--neu-1) hsl(90 95 90), var(--neu-2) hsl(90 100 100);
    --neu-magenta: var(--neu-1) hsl(330 95 45), var(--neu-2) hsl(330 100 55);
    --neu-magenta-2: var(--neu-1) hsl(330 95 50), var(--neu-2) hsl(330 100 60);
    --neu-magenta-3: var(--neu-1) hsl(330 95 55), var(--neu-2) hsl(330 100 65);
    --neu-magenta-4: var(--neu-1) hsl(330 95 60), var(--neu-2) hsl(330 100 70);
    --neu-magenta-5: var(--neu-1) hsl(330 95 65), var(--neu-2) hsl(330 100 75);
    --neu-magenta-6: var(--neu-1) hsl(330 95 70), var(--neu-2) hsl(330 100 80);
    --neu-magenta-7: var(--neu-1) hsl(330 95 75), var(--neu-2) hsl(330 100 85);
    --neu-magenta-8: var(--neu-1) hsl(330 95 80), var(--neu-2) hsl(330 100 90);
    --neu-magenta-9: var(--neu-1) hsl(330 95 85), var(--neu-2) hsl(330 100 95);
    --neu-magenta-10: var(--neu-1) hsl(330 95 90), var(--neu-2) hsl(330 100 100);
    --neu-orange: var(--neu-1) hsl(30 95 45), var(--neu-2) hsl(30 100 55);
    --neu-orange-2: var(--neu-1) hsl(30 95 50), var(--neu-2) hsl(30 100 60);
    --neu-orange-3: var(--neu-1) hsl(30 95 55), var(--neu-2) hsl(30 100 65);
    --neu-orange-4: var(--neu-1) hsl(30 95 60), var(--neu-2) hsl(30 100 70);
    --neu-orange-5: var(--neu-1) hsl(30 95 65), var(--neu-2) hsl(30 100 75);
    --neu-orange-6: var(--neu-1) hsl(30 95 70), var(--neu-2) hsl(30 100 80);
    --neu-orange-7: var(--neu-1) hsl(30 95 75), var(--neu-2) hsl(30 100 85);
    --neu-orange-8: var(--neu-1) hsl(30 95 80), var(--neu-2) hsl(30 100 90);
    --neu-orange-9: var(--neu-1) hsl(30 95 85), var(--neu-2) hsl(30 100 95);
    --neu-orange-10: var(--neu-1) hsl(30 95 90), var(--neu-2) hsl(30 100 100);
    --neu-purple: var(--neu-1) hsl(270 95 45), var(--neu-2) hsl(270 100 55);
    --neu-purple-2: var(--neu-1) hsl(270 95 50), var(--neu-2) hsl(270 100 60);
    --neu-purple-3: var(--neu-1) hsl(270 95 55), var(--neu-2) hsl(270 100 65);
    --neu-purple-4: var(--neu-1) hsl(270 95 60), var(--neu-2) hsl(270 100 70);
    --neu-purple-5: var(--neu-1) hsl(270 95 65), var(--neu-2) hsl(270 100 75);
    --neu-purple-6: var(--neu-1) hsl(270 95 70), var(--neu-2) hsl(270 100 80);
    --neu-purple-7: var(--neu-1) hsl(270 95 75), var(--neu-2) hsl(270 100 85);
    --neu-purple-8: var(--neu-1) hsl(270 95 80), var(--neu-2) hsl(270 100 90);
    --neu-purple-9: var(--neu-1) hsl(270 95 85), var(--neu-2) hsl(270 100 95);
    --neu-purple-10: var(--neu-1) hsl(270 95 90), var(--neu-2) hsl(270 100 100);
    --neu-red: var(--neu-1) hsl(0 95 45), var(--neu-2) hsl(0 100 55);
    --neu-red-2: var(--neu-1) hsl(0 95 50), var(--neu-2) hsl(0 100 60);
    --neu-red-3: var(--neu-1) hsl(0 95 55), var(--neu-2) hsl(0 100 65);
    --neu-red-4: var(--neu-1) hsl(0 95 60), var(--neu-2) hsl(0 100 70);
    --neu-red-5: var(--neu-1) hsl(0 95 65), var(--neu-2) hsl(0 100 75);
    --neu-red-6: var(--neu-1) hsl(0 95 70), var(--neu-2) hsl(0 100 80);
    --neu-red-7: var(--neu-1) hsl(0 95 75), var(--neu-2) hsl(0 100 85);
    --neu-red-8: var(--neu-1) hsl(0 95 80), var(--neu-2) hsl(0 100 90);
    --neu-red-9: var(--neu-1) hsl(0 95 85), var(--neu-2) hsl(0 100 95);
    --neu-red-10: var(--neu-1) hsl(0 95 90), var(--neu-2) hsl(0 100 100);
    --neu-sky: var(--neu-1) hsl(210 95 45), var(--neu-2) hsl(210 100 55);
    --neu-sky-2: var(--neu-1) hsl(210 95 50), var(--neu-2) hsl(210 100 60);
    --neu-sky-3: var(--neu-1) hsl(210 95 55), var(--neu-2) hsl(210 100 65);
    --neu-sky-4: var(--neu-1) hsl(210 95 60), var(--neu-2) hsl(210 100 70);
    --neu-sky-5: var(--neu-1) hsl(210 95 65), var(--neu-2) hsl(210 100 75);
    --neu-sky-6: var(--neu-1) hsl(210 95 70), var(--neu-2) hsl(210 100 80);
    --neu-sky-7: var(--neu-1) hsl(210 95 75), var(--neu-2) hsl(210 100 85);
    --neu-sky-8: var(--neu-1) hsl(210 95 80), var(--neu-2) hsl(210 100 90);
    --neu-sky-9: var(--neu-1) hsl(210 95 85), var(--neu-2) hsl(210 100 95);
    --neu-sky-10: var(--neu-1) hsl(210 95 90), var(--neu-2) hsl(210 100 100);
    --neu-springgreen: var(--neu-1) hsl(150 95 45), var(--neu-2) hsl(150 100 55);
    --neu-springgreen-2: var(--neu-1) hsl(150 95 50), var(--neu-2) hsl(150 100 60);
    --neu-springgreen-3: var(--neu-1) hsl(150 95 55), var(--neu-2) hsl(150 100 65);
    --neu-springgreen-4: var(--neu-1) hsl(150 95 60), var(--neu-2) hsl(150 100 70);
    --neu-springgreen-5: var(--neu-1) hsl(150 95 65), var(--neu-2) hsl(150 100 75);
    --neu-springgreen-6: var(--neu-1) hsl(150 95 70), var(--neu-2) hsl(150 100 80);
    --neu-springgreen-7: var(--neu-1) hsl(150 95 75), var(--neu-2) hsl(150 100 85);
    --neu-springgreen-8: var(--neu-1) hsl(150 95 80), var(--neu-2) hsl(150 100 90);
    --neu-springgreen-9: var(--neu-1) hsl(150 95 85), var(--neu-2) hsl(150 100 95);
    --neu-springgreen-10: var(--neu-1) hsl(150 95 90), var(--neu-2) hsl(150 100 100);
    --neu-white: var(--neu-1) hsl(0 0 95), var(--neu-2) hsl(0 0 100);
    --neu-yellow: var(--neu-1) hsl(60 95 45), var(--neu-2) hsl(60 100 55);
    --neu-yellow-2: var(--neu-1) hsl(60 95 50), var(--neu-2) hsl(60 100 60);
    --neu-yellow-3: var(--neu-1) hsl(60 95 55), var(--neu-2) hsl(60 100 65);
    --neu-yellow-4: var(--neu-1) hsl(60 95 60), var(--neu-2) hsl(60 100 70);
    --neu-yellow-5: var(--neu-1) hsl(60 95 65), var(--neu-2) hsl(60 100 75);
    --neu-yellow-6: var(--neu-1) hsl(60 95 70), var(--neu-2) hsl(60 100 80);
    --neu-yellow-7: var(--neu-1) hsl(60 95 75), var(--neu-2) hsl(60 100 85);
    --neu-yellow-8: var(--neu-1) hsl(60 95 80), var(--neu-2) hsl(60 100 90);
    --neu-yellow-9: var(--neu-1) hsl(60 95 85), var(--neu-2) hsl(60 100 95);
    --neu-yellow-10: var(--neu-1) hsl(60 95 90), var(--neu-2) hsl(60 100 100);
    --orange: hsl(30 100 50);
    --orange-2: hsl(30 100 55);
    --orange-3: hsl(30 100 60);
    --orange-4: hsl(30 100 65);
    --orange-5: hsl(30 100 70);
    --orange-6: hsl(30 100 75);
    --orange-7: hsl(30 100 80);
    --orange-8: hsl(30 100 85);
    --orange-9: hsl(30 100 90);
    --orange-10: hsl(30 100 95);
    --purple: hsl(270 100 50);
    --purple-2: hsl(270 100 55);
    --purple-3: hsl(270 100 60);
    --purple-4: hsl(270 100 65);
    --purple-5: hsl(270 100 70);
    --purple-6: hsl(270 100 75);
    --purple-7: hsl(270 100 80);
    --purple-8: hsl(270 100 85);
    --purple-9: hsl(270 100 90);
    --purple-10: hsl(270 100 95);
    --red: hsl(0 100 50);
    --red-2: hsl(0 100 55);
    --red-3: hsl(0 100 60);
    --red-4: hsl(0 100 65);
    --red-5: hsl(0 100 70);
    --red-6: hsl(0 100 75);
    --red-7: hsl(0 100 80);
    --red-8: hsl(0 100 85);
    --red-9: hsl(0 100 90);
    --red-10: hsl(0 100 95);
    --sky: hsl(210 100 50);
    --sky-2: hsl(210 100 55);
    --sky-3: hsl(210 100 60);
    --sky-4: hsl(210 100 65);
    --sky-5: hsl(210 100 70);
    --sky-6: hsl(210 100 75);
    --sky-7: hsl(210 100 80);
    --sky-8: hsl(210 100 85);
    --sky-9: hsl(210 100 90);
    --sky-10: hsl(210 100 95);
    --springgreen: hsl(150 100 50);
    --springgreen-2: hsl(150 100 55);
    --springgreen-3: hsl(150 100 60);
    --springgreen-4: hsl(150 100 65);
    --springgreen-5: hsl(150 100 70);
    --springgreen-6: hsl(150 100 75);
    --springgreen-7: hsl(150 100 80);
    --springgreen-8: hsl(150 100 85);
    --springgreen-9: hsl(150 100 90);
    --springgreen-10: hsl(150 100 95);
    --white: hsl(0 0 100);
    --yellow: hsl(60 100 50);
    --yellow-2: hsl(60 100 55);
    --yellow-3: hsl(60 100 60);
    --yellow-4: hsl(60 100 65);
    --yellow-5: hsl(60 100 70);
    --yellow-6: hsl(60 100 75);
    --yellow-7: hsl(60 100 80);
    --yellow-8: hsl(60 100 85);
    --yellow-9: hsl(60 100 90);
    --yellow-10: hsl(60 100 95);
    
    font-size: 10px;
}

@font-face{
    font-family: 'sora';
    src: url('../ttf/sora.ttf');
}